<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://dl.dropboxusercontent.com/scl/fi/2dics8qg7mw4on1py4nn3/RSHB.ipa?rlkey=7zgz9znbkghl5lzh0a4k8ul35</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>ru.rshb.dbo</string>
				<key>bundle-version</key>
				<string>22.10.2</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>РСХБ Банк</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
