.page_title__GKn_5 {
  font-size: 40px;
  font-weight: 700;
}
.page_subtitle__CC72n {
  max-width: 900px;
  margin-top: 16px;
  color: var(--color-gray-light);
  font-size: 24px;
}
.page_description__Rk3xe {
  margin-top: 16px;
  font-size: 24px;
  line-height: 1.4;
}
.page_qrCodeContainer__C4Ysv {
  display: flex;
  justify-content: center;
  margin: 48px auto;
  max-width: 900px;
}
.page_qrCode__kmhHe {
  display: flex;
  padding: 10px;
  border: 3px solid #fff;
  border-radius: 16px;
}
