.page_posts__0KVhd {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 8px;
  gap: 8px;
  margin-top: 32px;
}
@media (max-width: 768px) {
  .page_posts__0KVhd {
    grid-template-columns: 1fr;
  }
}
.page_post__WGG_8 {
  overflow: hidden;
  padding: 16px;
  border-radius: 16px;
  text-decoration: none;
  cursor: pointer;
}
.page_post__WGG_8:hover {
  color: var(--foreground);
  background: rgba(113, 88, 166, 0.5);
}
.page_title___VCdY {
  margin-top: 16px;
}
.page_poster__C0_J0 {
  position: relative;
  overflow: hidden;
  height: 150px;
  border-radius: 16px;
}
.page_description__IS_b5 {
  margin-top: 8px;
  font-size: 18px;
  line-height: 1.5;
}
