:root {
  --background: #1b1b1f;
  --foreground: #ededed;
  --color-gray-light: #c4c4c5;
  --color-gray: #515151;
  --color-gray-dark: #444;
  --color-primary: #7158a6;
  --color-primary-light: #8c5cf2;
  --color-secondary: #d18627;
  --color-secondary-light: #f2be5c;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body,
html {
  max-width: 100vw;
  overflow-x: hidden;
}
html {
  color-scheme: dark;
}
html ::selection {
  background-color: var(--color-primary);
}
body {
  background: var(--background);
  font-family: var(--font-ibm-plex-sans);
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a,
body {
  color: var(--foreground);
}
a:hover {
  color: var(--color-primary);
}
a:hover::selection {
  color: var(--foreground);
}
.container {
  max-width: 1200px;
  padding: 0 24px;
  margin-left: auto;
  margin-right: auto;
}
.container-narrow {
  max-width: 800px;
}
.content {
  padding-top: 16px;
  padding-bottom: 48px;
}
