<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://d.4funbox.com/file/c975622619555af09b3c9b7af2da46f8?fid=4400591418522-250528-28541376639676&dstime=1702233237&rt=sh&sign=FDtAER-DCb740ccc5511e5e8fedcff06b081203-38bhUdsZ3c6GFAxXI%2BriErPqTkQ%3D&expires=8h&chkv=0&chkbd=0&chkpc=&dp-logid=9133732371120007798&dp-callid=0&r=183094884&sh=1</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>aa.1286901.io</string>
				<key>bundle-version</key>
				<string>12.15.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Сбербанк Онлайн</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
