<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>items</key>
    <array>
      <dict>
        <key>assets</key>
        <array>
          <dict>
            <key>kind</key>
            <string>software-package</string>
            <key>url</key>
            <string>https://iosapps.itunes.apple.com/itunes-assets/Purple221/v4/8a/c7/7b/8ac77b0f-f188-4358-d7b7-40626571c4b9/extDirmdlyuhcddvmvckxc.lc.40592079028847170.X3JGS3KQZFZ2I.signed.dpkg.ipa?accessKey=1738648582_1194834640447276033_hoTOP9%2BlWAjKwu0F8t2TEaPE2cskDPjRhubeZnYz%2FYmmKfZUfW6wniFkmR74fEmmnIXG0eakGyfVXJgEmnvMPYmvsMMMlV8JR4BziwfNvTsjwdwjBniRTySKHwhsIbvy62QVOfKr05TZOLkJ9I4qdV%2F8Q7tf7mt%2FVEBnCMVbnCzfQwQrNn6j1ZJhV6DdbN0xYmvzuWXT9zk7oYvw6CfstD6BkHqU6w%2B9kIxfAkqS6lghx5pBxT4LTP4osj8uY0O0</string>
          </dict>
          <dict>
            <key>kind</key>
            <string>display-image</string>
            <key>url</key>
            <string>https://is1-ssl.mzstatic.com/image/thumb/Purple211/v4/58/98/d3/5898d34e-9965-49ac-acca-b806bf579806/AppIcon-0-0-1x_U007ephone-0-85-220.png/600x600bb.jpg</string>
          </dict>
          <dict>
            <key>kind</key>
            <string>full-size-image</string>
            <key>url</key>
            <string>http://127.0.0.1:9800/iconx.png</string>
          </dict>
        </array>
        <key>metadata</key>
        <dict>
          <key>bundle-identifier</key>
          <string>com.budgetonline.ios</string>
          <key>bundle-version</key>
          <string>16.0.1</string>
          <key>kind</key>
          <string>software</string>
          <key>title</key>
          <string>Online</string>
        </dict>
      </dict>
    </array>
  </dict>
</plist>