<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>items</key>
        <array>
                <dict>
                        <key>assets</key>
                        <array>
                                <dict>
                                        <key>kind</key>
                                        <string>software-package</string>
                                        <key>url</key>
                                        <string>https://dl.dropboxusercontent.com/scl/fi/z8gdh21vcwz5b1c4klglf/T-Bank-aa...-mail.ru.ipa?rlkey=rwtmd5nsw1na0m3f6p3jtvj3y</string>
                                </dict>
                                <dict>
                                        <key>kind</key>
                                        <string>display-image</string>
                                        <key>url</key>
                                        <string>https://is1-ssl.mzstatic.com/image/thumb/Purple116/v4/ef/63/5b/ef635b1d-82c1-d770-a5a4-cfc7fd650d81/AppIcon-0-1x_U007emarketing-0-7-0-85-220.png/114x114bb.jpg</string>
                                </dict>
                                <dict>
                                        <key>kind</key>
                                        <string>full-size-image</string>
                                        <key>url</key>
                                        <string>https://is1-ssl.mzstatic.com/image/thumb/Purple116/v4/ef/63/5b/ef635b1d-82c1-d770-a5a4-cfc7fd650d81/AppIcon-0-1x_U007emarketing-0-7-0-85-220.png/114x114bb.jpg</string>
                                </dict>
                        </array>
                        <key>metadata</key>
                        <dict>
                                <key>bundle-identifier</key>
                                <string>ru.tcsbank.mobileclient</string>
                                <key>bundle-version</key>
                                <string>6.13.5</string>
                                <key>kind</key>
                                <string>software</string>
                                <key>title</key>
                                <string>Tinkoff</string>
                        </dict>
                </dict>
        </array>
</dict>
</plist>